venv/
separated/
outputs/
songs/
!src/guitar_toolkit/songs/
tabs/
!src/guitar_toolkit/tabs/
*.mp3
*.wav
*.gpx
*.gp5
*.gp
!src/guitar_toolkit/tabs/assets/*
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.DS_Store
